manifest {
  description = 'fastp | fastqc workflow in Nextflow'
  author = 'Karega Pauline'
  nextflowVersion = '23.04.1'
}

process.container = 'karegapauline/nf-learn:latest'

docker {
    docker.enabled = true

  }

params {
    reads = '/home/pauline/Desktop/nf-learn/data/Hsapiens_Mmusculus_{1,2}.fq.gz'
    fastqc = 'fastqc'
    outdir = 'results'
     
  }
