manifest {
  description = 'fastp | fastqc workflow in Nextflow'
  author = 'Karega Pauline'
  nextflowVersion = '23.04.1'
}

process.container = 'karegapauline/nf-learn:latest'

process {
    withName:FASTP {
        container = 'biocontainers/fastp:v0.20.1_cv1'
    }
    withName:FASTQC {
        container = 'biocontainers/fastqc:v0.11.9_cv7'
    }
}
charliecloud {
    enabled = true
}


docker {
    docker.enabled = true
}

params {
    reads = './data/Hsapiens_Mmusculus_{1,2}.fq.gz'
    fastqc = 'fastqc'
    outdir = 'results'     
}
